body{
    margin: 0;
    padding: 0px;
}
p{
    margin: 0;
}
h1{
    font-size: 32px;
    font-weight: 1100;
    float: left;
}
h1 img{
    position: absolute;
    top: 18px;
    left: 115px;
}
.medium{
    position: relative;
    left: 42px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-top: 18px;
}
nav a{
    margin: 12px;
    font-size: 13.5px;
    color: rgb(49, 49, 49);
    text-decoration: none;
    letter-spacing: 0.3px;
}
.el-2{
    background-color: rgb(255,192,23);
    border-bottom: 1px solid black;
}
.el-3{
    /* Trending On Medium */
    padding-top: 30px;
    padding-left: 180px;
    padding-right: 115px;
    padding-bottom: 40px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    border-bottom: 1px solid rgb(233, 228, 228);
}
/* .container{
    border: 1px solid black;
} */
.main-header{
    background-color: rgb(255,192,23);
    border-bottom: 1px solid black;
    padding-left: 115px;
    padding-right: 115px;
    /* position: sticky;
    top: 0; */
}
.main-header::after{
    content: "";
    clear: both;
    display: block;
}
.get-main{
    margin-right: 0;
}
.get-in{ 
    box-sizing: border-box;
    padding: 10px 16px 11px 16px;
    border: 1px solid black;
    border-radius: 5em;
    background-color: black;
    color: white;
    font-size: 14px;
}
.stay{
    padding-left: 115px;
    padding-top: 93px;
    padding-bottom: 12px;
    font-size: 108px;
    font-weight: 400;
    font-family: Georgia;
    letter-spacing: -2px;
}
.discover{
    padding-left: 115px;
    padding-bottom: 45px;
    font-size: 24px;
    color: rgb(54, 54, 54);
    font-weight: 350;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.start-reading{
    padding-left: 115px;
    padding-bottom: 90px;
}
.start-reading-button{
    box-sizing: border-box;
    padding: 7px 20px 9px 20px;
    border: 1px solid black;
    border-radius: 1em;
    width: 213px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 350;
}
.trend{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 80px;
}
/* .trend div{
    border: 1px solid black;
} */
.trend_img{
    position: absolute;
    left: 115px;
}
.trend_text{
    font-size: small;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: -20px;
}
.catchline{
    font-weight: 600;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.number{
    font-weight: 700;
    color: rgb(230,230,230);
    font-size: 30px;
    position: relative;
    top: 33px;
    left: -55px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.proficon{
    float: left;
    margin-left: -3px;
    padding-right: 8px;
}
.name{
    margin-bottom: 3px;
    font-size: smaller;
    color: rgb(59, 59, 59);
    font-weight: 450;
    line-height: 30px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.date{
    font-size: smaller;
    color: grey;
    padding-top: 10px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.book_sleft{
    float: left;
}
.book img{
    float: right;
    position: relative;
    top: 58px;
    right: 100px;
}
.el-2::after{
    content: "";
    clear: both;
    display: block;
}
.el-4{
    margin: 60px 115px 0px 75px;
}
ul{
    width: 710px;
}
.blog1{
    padding-bottom: 55px;
}
.blogRead{
    float: left;
    width: 66.66%;
}
.imageBlog img{
    float: right;
    width: 30%;
    height: 130px;
}
.blog1::after{
    content: "";
    clear: both;
    display: block;
}
.catchline1{
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.catchline2{
    font-size: 15px;
    color: rgb(141, 141, 141);
    line-height: 17px;
    margin-top: 6px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.tagButton{
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    border: 0px;
    border-radius: 8px;
    color: rgb(116, 116, 116);
}
.bookicon{
    float: right;
    background-color: white;
    border: 0px;
}
.dateBlog{
    font-size: smaller;
    color: grey;
    margin-top: 8px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.star{
    background-color: white;
    border: 0px;
    position: relative;
    top: 6px;
}
.tagHead{
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}
.tags{
    display: flex;
    width: 397px;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-bottom: 23px;
}
.tag{
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    margin: 0px 8px 8px 0px;
    padding: 8px 16px 8px 16px;
    color: rgb(135, 135, 135);
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: smaller;
}
.leftBlog{
    float: left;
}
.tagContainer{
    float: right;
    position: sticky;
    top: 60px;
}
.el-4::after{
    content: "";
    clear: both;
    display: block;
}
footer{
    display: flex;
    width: 397px;
    flex-flow: row wrap;
    padding-top: 25px;
    border-top: 1px solid rgb(224, 224, 224);
    color: rgb(135, 135, 135);
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px ;
}
footer div{
    margin-right: 25px;
    margin-bottom: 15px;
}